<!-- analytics/templates/analytics/grafana_dashboard.hC:\Users\David\Apps-Start\Start-ClickPulse\analytics\templates\grafana_dashboard.html -->
<!DOCTYPE html>
<html>
<head>
    <title>ClickPulse Grafana Dashboard</title>
</head>
<body>
    <h1>ClickPulse Grafana Dashboard</h1>
    <iframe src="http://localhost:3000/public-dashboards/9cec0834c02442eaa5559a7b337a07c2" 
            width="100%" 
            height="800" 
            frameborder="0"
            allowfullscreen>
    </iframe>
</body>
</html>
